* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.space-btw {
  justify-content: space-between;
}

header {
  padding: 10px 0;
  line-height: 80px;
  color: #464646;
}
header .container {
  justify-content: space-between;
}
header .container .logo {
  height: 80px;
  flex-basis: 10%;
}
header .container .logo img {
  height: 100%;
}
header .container .nav-list {
  display: flex;
}
header .container .nav-list li {
  margin: 0 18px;
}
header .container .nav-list li a {
  color: #464646;
  font-size: 0.9rem;
}
header .container .search {
  flex-basis: 10%;
}
header .container .search input {
  width: 100%;
}

.general-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: top;
  border-bottom: 30px solid #0282f9;
}
.general-hero .container {
  height: 100%;
  position: relative;
}
.general-hero .container img {
  position: absolute;
  bottom: -30px;
  left: 120px;
  border: 1px solid #fff;
}
.general-hero .container .row {
  position: absolute;
  bottom: -30px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #0282f9;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.comics {
  background-color: #464646;
  color: #fff;
}
.comics .container {
  padding: 30px 15px;
}
.comics .container .comic-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
}
.comics .container .comic-list li {
  margin: 10px 0;
}
.comics .container .comic-list li a {
  color: white;
  font-size: 0.6rem;
}
.comics .container .comic-list li a img {
  width: 100%;
  margin-bottom: 10px;
}
.comics .container .btn {
  text-align: center;
  margin-top: 20px;
}
.comics .container .btn button {
  background-color: #0282f9;
  padding: 8px 40px;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.info {
  background-color: #0282f9;
}
.info .container {
  padding: 25px 0;
}
.info .container .list-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
}
.info .container .list-info li a {
  display: flex;
}
.info .container .list-info li a img {
  padding: 5px;
  height: 60px;
  width: 50px;
}
.info .container .list-info li a h6 {
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  line-height: 50px;
}

.detail {
  margin-top: 60px;
}
.detail .container {
  padding: 0 120px;
  display: flex;
}
.detail .container .descrition {
  flex-basis: 68%;
  margin-right: 2%;
}
.detail .container .descrition h1 {
  color: #003f5e;
  margin-bottom: 15px;
}
.detail .container .descrition .price {
  background: #55ba59;
  color: white;
  display: flex;
  font-size: 0.8rem;
}
.detail .container .descrition .price span {
  padding: 10px 20px;
  flex-basis: 33%;
}
.detail .container .descrition .body {
  margin-top: 25px;
}
.detail .container .descrition .body p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}
.detail .container .descrition .body p {
  font-size: 14px;
}
.detail .container .descrition .body p:last-child {
  margin-top: 20px;
}
.detail .container .advertisement {
  flex-basis: 30%;
}
.detail .container .advertisement h5 {
  text-align: right;
}

.main-footer .top-footer {
  background-image: url(../images/footer-bg.jpg);
  color: #fff;
}
.main-footer .top-footer .left,
.main-footer .top-footer .right {
  flex-basis: 50%;
}
.main-footer .top-footer .col {
  flex-basis: calc(80% / 3);
  padding: 0 5px;
  padding-top: 40px;
}
.main-footer .top-footer .col h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-footer .top-footer .col li {
  margin: 5px 0;
}
.main-footer .top-footer .col li a {
  color: grey;
  font-size: 0.8rem;
}
.main-footer .top-footer .col .col-top {
  margin-bottom: 25px;
}
.main-footer .top-footer .privacy {
  color: grey;
  font-size: 0.8rem;
  padding: 20px 10px;
}
.main-footer .top-footer .privacy a {
  color: #0282f9;
}
.main-footer .top-footer .right {
  background-image: url("../images/logo-footer.png");
  background-position: center;
}

.bottom-footer {
  background-color: black;
  padding: 30px;
}
.bottom-footer .container {
  justify-content: space-between;
  color: #fff;
}
.bottom-footer .container button {
  padding: 14px;
  color: white;
  background-color: #1f1e1e;
  border: 1px solid #0282f9;
  cursor: pointer;
}
.bottom-footer .container .social h5 {
  text-transform: uppercase;
  color: #0282f9;
  margin: 10px;
  line-height: 30px;
}
.bottom-footer .container ul {
  display: flex;
}
.bottom-footer .container ul li {
  margin: 10px;
}
.bottom-footer .container ul li i {
  font-size: 2rem;
  color: grey;
}