// COMICS list HOME

.comics {
  background-color: $col-font;
  color: $col-white;

  .container {
    padding: 30px 15px;

    .comic-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      gap :1rem;

      li {
        margin: 10px 0;

        a {
          color: white;
          font-size: 0.6rem;

          img {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }

    .btn{
      text-align: center;
      margin-top: 20px;

      button {
        background-color: $col-blue;
        padding: 8px 40px;
        border: 0;
        border-radius: 2px;
        color: $col-white;
        cursor: pointer;
    }
    }
  }
}
