// HEADER
// nav
header {
  padding: 10px 0;
  line-height: 80px;
  color: $col-font;
  .container {
    justify-content: space-between;
    .logo {
      height: 80px;
      flex-basis: 10%;
      img{
        height: 100%;
      }
    }
    .nav-list {
      display: flex;
      li {
        margin: 0 18px;
        a {
          color: $col-font;
          font-size: 0.9rem;
        }
      }
    }
    .search {
      flex-basis: 10%;
      input {
        width: 100%;
      }
    }
  }
}




// .nav {
//   // flex-basis: 70%;
//   .nav-list {
//     justify-content: space-between;
//   }
// }
